<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spiral Online</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/babel.js"></script>
    <script src="~/Scripts/react.js"></script>
    <script src="~/Scripts/react-dom.js"></script>
    <script src="~/Scripts/jsgrid.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
</head>
<body style="padding:0px;">
    <div class="navbar navbar-fixed-top" style="background-color:whitesmoke; background-image: url('https://ak9.picdn.net/shutterstock/videos/9439199/thumb/1.jpg'); color:white; font-weight:bolder; font-size:20px; text-align:center; vertical-align:central;">&nbsp;Spiral Online<br /><div style="font-size:30px; top:13.5px; left:49.5%; position:absolute;">☣</div></div>
    <div class="navbar navbar-fixed-bottom" style="background-color:whitesmoke; background-image: url('https://ak9.picdn.net/shutterstock/videos/9439199/thumb/1.jpg')"></div>
    <br/>
    <br/>
    <br/>
    <div style="text-align:center; margin-top:10px; margin-bottom:10px; margin-right:6.5%;" id="TopMenu"></div>
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>