<div id="LoginPanel"></div>
<div>
    <img src="..//Content/images/secondlogo.png" />
</div>
<script src="~/Scripts/AppServices/LoginService.js"></script>
<script type="text/jsx" src="~/Scripts/HomeController/Index.js"></script>