<div id="Home.Register">
    <div id="RegistrationPanel"></div>
</div>
<br/>
<script src="~/Scripts/AppServices/LoginService.js"></script>
<script type="text/jsx" src="~/Scripts/HomeController/Register.js">
</script>