<div id="AccountPanel"></div>
<br/>
<div id="jsGrid"></div>


<script type="text/jsx" src="~/Scripts/DashboardController/TopMenu.js"></script>
<script type="text/jsx" src="~/Scripts/DashboardController/Account.js"></script>