<div id="DocumentPanel"></div>
<br />
<div id="jsGrid"></div>
@*<br />
<div>
    <object data="../Content/pdf/Documents.pdf" type="application/pdf" style="width:800px; height:710px;">
        alt : <a href="../Content/pdf/Documents.pdf">Documents.pdf</a>
    </object>
</div>*@

<script src="~/Scripts/AppServices/DocumentService.js"></script>
<script type="text/jsx" src="~/Scripts/DashboardController/TopMenu.js">
</script>
<script type="text/jsx" src="~/Scripts/DashboardController/Document.js">
</script>