<div id="ReminderPanel"></div>

<script src="~/Scripts/AppServices/ReminderService.js"></script>
<script type="text/jsx" src="~/Scripts/DashboardController/TopMenu.js"></script>
<script type="text/jsx" src="~/Scripts/DashboardController/Reminder.js"></script>